<a href="https://colab.research.google.com/github/manikantanr55/DataScience/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Basics**

This notebook consists of essential python basics required to gain access to Data analsis in day to day life of a Data Analyst

Note: This has only the basics and not entire python

Data Structures list - 

*   List
*   Sets
*   Tuple
*   Dictionary

### Comparision Operators

In [35]:
# Comparision Operators
print("And operator needs both of the arguments to be True: \n")
print("True and False: ", True and False)
print("True and True: ", True and True)
print("False and False: ", False and False)

print("\n OR operator needs either of the arguments to be True: \n")
print("True or False: ", True or False)
print("True or True: ", True or True)
print("False or False: ", False or False)

And operator needs both of the arguments to be True:

True and False:  False
True and True:  True
False and False:  False

 OR operator needs either of the arguments to be True:

True or False:  True
True or True:  True
False or False:  False

### **List**

*   Ordered(indexing) sequency of elements, which are mutable(can change any value)
*   Defined inside square brackets [ ]
*   Can have different datatypes i.e., different data types can be as elements in list

In [9]:
list_example = [] # Empty list initiation
type(list_example)

list

In [51]:
# Example list
num_list = [1,2,47, 1, 2,8,2,9,28]
char_list = ["hi", "welcome to", "Data Science", "with python"]
combined_list = [1,2,47,8,9,28, "hi", "welcome to", "Data Science", "with python"]
print("List with only numbers: ", num_list, "\n List with only strings: ", char_list, "\n List with numbers and strings: ", combined_list)

List with only numbers:  [1, 2, 47, 1, 2, 8, 2, 9, 28]
 List with only strings:  ['hi', 'welcome to', 'Data Science', 'with python']
 List with numbers and strings:  [1, 2, 47, 8, 9, 28, 'hi', 'welcome to', 'Data Science', 'with python']

In [32]:
# Common functions to be used to identify list properties
print("Length/number of elements in a list is given by len(list) = ", len(num_list), "\n")
print("Max of elements in a list is given by max(list) = ", max(num_list), "\n")
print("Min of elements in a list is given by min(list) = ", min(num_list), "\n")

Length/number of elements in a list is given by len(list) =  6

Max of elements in a list is given by max(list) =  47

Max of elements in a list is given by min(list) =  1

In [34]:
# For those who are wondering how min and max works for list of strings:
sample_list = ["aaa", "ccc", "xxx", "ddd"]
print("Max of a list of strings: ", max(sample_list), "\n ")
print("Min of a list of strings: ", min(sample_list), "\n ")

Max of a list of strings:  xxx

Min of a list of strings:  aaa

Operators on list

In [39]:
# Append operator - Adds an element at the end of the list
num_list.append(100)
print(num_list)

[1, 2, 47, 8, 9, 28, 100]

In [41]:
# Copy operator copies the list and doesn't reference the list
test_list = num_list.copy()
print(test_list)

[1, 2, 47, 8, 9, 28, 100]

Copy vs Reference

In [49]:
Original_list = [1,2,3,4,5]
print("Original List is: ", Original_list)
test_list1 = Original_list # Reference and not copy
test_list1.append(10)
print("Test list is: ",test_list1, "\n Original list is also modified: ", Original_list)
print("\n Gist: The original data is modified when you reference the list!!")

Original List is:  [1, 2, 3, 4, 5]
Test list is:  [1, 2, 3, 4, 5, 10]
 Original list is also modified:  [1, 2, 3, 4, 5, 10]

 Gist: The original data is modified when you reference the list!!

In [48]:
Original_list = [1,2,3,4,5]
print("Original List is: ", Original_list)
test_list2 = Original_list.copy() # Reference and not copy
test_list2.append(10)
print("Test list is: ",test_list2, "\n Original list is NOT modified: ", Original_list)
print("\n Gist: The original data is not modified when you copy the list!!")

Original List is:  [1, 2, 3, 4, 5]
Test list is:  [1, 2, 3, 4, 5, 10]
 Original list is NOT modified:  [1, 2, 3, 4, 5]

 Gist: The original data is not modified when you copy the list!!

In [55]:
# Count operator counts the number of occurences of each provided element in list
print("List: ", num_list, "\n Count the number of occurences of value/element 2 in list is: ", num_list.count(2))

List:  [1, 2, 47, 1, 2, 8, 2, 9, 28]
 Count the number of occurences of value/element 2 in list is:  3

In [58]:
print("Original list: ", num_list, "\n add new element 10 into it: ", num_list.extend([10]))

Original list:  [1, 2, 47, 1, 2, 8, 2, 9, 28, '1', '0', 10]
 add new element 10 into it:  None